
/*-- scss:defaults --*/
$navbar-bg: #058484; // Your hex background color
$navbar-fg: #F0F0F0; // Your hex text/link color
$navbar-hl: #ffffff;

$link-color: #058484;        // Base link color
$link-hover-color: #940606;  // Hover state
$link-decoration: none;